<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TwAds: Home</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>

<body>  
    <header>
        <div class="wrapper">
            <a href="#"><img src="/images/logo.png" alt="mysquare logo" title="mysquare - checkin and go home!" /></a>
            
            <span id="usernav"><a href="#">Logout</a> - <a href="#">Settings</a> - <a href="/profile">Profile<span><img src="/images/user_avatar_s.jpg" /></span></a></span>
        </div>
    </header>
    
    <nav>
        <ul id="n" class="clearfix">
            <li class="sel"><a href="/home">Homepage</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/twitter">Twitter</a></li>
            <li><a href="/instagram">Instagram</a></li>
        </ul>
    </nav>
    
    <div id="content" class="clearfix">
        <section id="wide">            
            <h1>About Us:</h1>
            <p>TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero. TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero. TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero. TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero. TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero. TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero. TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero. TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero. TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero. TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero.TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero.TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero.TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero.TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero.TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero. TwAds es lo mejor del mundo mundial. Confía en mí, soy ingeniero.</p>
        </section>
        
    </div>
</body>
</html>